<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Noticias</title>
		</head>
	<body>

		<h1>Noticia 2</h1>
		<table>
			<tr>
				<td>id</td>
				<td>titulo </td>	
				
			</tr>

			<tr>
				<td><%= noticia[0].titulo %></td>	
				<td> <%= noticia[0].noticia %></td>	
			</tr>


		</table>

	</body>
</html>